<ion-header>
  <ion-toolbar>
    <ion-title class="headerTitle">
      <ion-icon name="home" class="homeIcon" (click)="home_page()"></ion-icon>
      {{productName}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <img [src]="productImage" class="w100"  alt="">
  <ion-row class="p10">
    <ion-col>
    <h2>{{productModel}}</h2>
    <p>{{productDescription}}</p>
  </ion-col>
  </ion-row>
  <ion-row class="p10">
    <ion-col>
      <ion-button (click)="fastWayAmount(100)">$100</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="fastWayAmount(10)">$10</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="fastWayQty(2.2)">2.2 qty</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="fastWayQty(9)">9 qty</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="p10">
    <ion-col>
      <ion-item>
        <ion-label position="stacked">Amount, $</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="amount" (ngModelChange)="calculateResult('amount',amount)"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label position="stacked">Quantity</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="qty" (ngModelChange)="calculateResult('qty',qty)"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
